<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json">
    <script src="path/to/chartjs/dist/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <div id="MainWeapons">
    <header>
      <div class="zbroya">Інформація про втрачену зброю</div>   
    </header>

    <input class="form-control" type="text" placeholder="введите номер" id="search-text" onkeyup="tableSearch()">
    <table class="table table-striped" id="info-table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">BRAND</th>
          <th scope="col">TYPE1</th>
          <th scope="col">TYPE2</th>
          <th scope="col">W_NUMBER</th>
          <th scope="col">THEFT_DATA</th>
        </tr>
        <tr>
          <th scope="col"><input placeholder="Поиск" v-model="SearchByID" ></th>
          <th scope="col"><input placeholder="Поиск" v-model="SearchByType1"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"><input placeholder="Поиск" v-model="SearchByW_NUMBER" ></th>
          <th scope="col"></th>
        </tr>
      </thead>  
      <tbody>
        <tr class="product"  v-for="(item) in weapons" v-show="item.ID.includes(search) && item.W_NUMBER.includes(search2)">
          <td>{{item.ID}} </td>
          <td>{{item.BRAND}} </td>
          <td>{{item.TYPE1}} </td>
          <td>{{item.TYPE2}} </td>
          <td >{{item.W_NUMBER}} </td>
          <td>{{item.THEFT_DATA}} </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="weapons.js"></script>  
  <script src="main.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
      .register('/sw.js')
      .then(function() {
        console.log('Service worker registered');
      });
    };
  </script>

</body>